:root {
    --navbar-height: 4rem;

    --accent-primary-colour: rgba(200, 40, 40);
    --accent-secondary-colour: rgba(240, 60, 60);
    --accent-tertiary-colour: rgba(255, 255, 255, 0.15);
    --bg-primary-colour: rgba(0, 0, 0, 0.85);
    --bg-secondary-colour: rgba(35, 35, 35);
    --hover-colour: rgba(255, 255, 255, 0.3);

    --header-colour: white;
    --header-font-family: "Karla", sans-serif;
    --header-font-size: 1rem;
    --header-font-weight: 700;
    --image-filter: brightness(100);
    --monospace-font-family: "Fira Code", monospace;

    --body-colour: white;
    --body-font-family: "Karla", sans-serif;
    --body-font-size: 0.85rem;
    --body-font-weight: 300;

    --cell-padding: 0.25rem;
    --default-width: 12rem;
    --padding: 0.5rem;
}

html, head, body {
    display: block;
    margin: 0;
    width: 100%;

    font-family: "Karla", sans-serif;
    font-size: 1rem;
}

a { color: var(--accent-secondary-colour); }
button {
    background-color: var(--bg-secondary-colour);
    border: 1px solid var(--bg-primary-colour);
    border-radius: calc(var(--padding)*0.5);
    color: var(--body-colour);
    font-family: var(--body-font-family);
    padding: calc(var(--padding)*0.5) calc(var(--padding)*1.5);
    transition: all 0.5s ease;
}
button:hover {
    background-color: var(--accent-primary-colour);
    cursor: pointer;
}
#map { width: 100dvw; height: 100dvh; }
tr { vertical-align: baseline; }

/* -- Maptalks -- */
.maptalks-attribution { display: none !important; }
.maptalks-msgBox {
    background-color: var(--bg-primary-colour) !important;
    border: none !important;
    border-radius: 0 !important;
    color: var(--body-colour) !important;
    
    a.maptalks-close {
        color: var(--body-colour) !important;
        height: 1rem;
        font-size: 1.5rem;
        font-weight: 300 !important;
        right: var(--padding);
        text-align: center;
        top: 0;
        width: 1rem;
    }
    > h2 { color: var(--header-colour) !important; }
    .maptalks-msgContent {
        max-height: 40dvh;
        max-width: 20dvw;
        overflow-y: auto;

        scrollbar-color: white transparent;
        scrollbar-width: thin;
    }
    
    em.maptalks-ico { display: none !important; }
    
    .description {
        overflow-wrap: anywhere;
        word-break: break-all;
    }
    .keyframe-description > div {
        max-height: 8rem;
        overflow-x: hidden;
        overflow-y: auto;
        
        scrollbar-color: white transparent;
        scrollbar-width: thin;
    }
}

/* -- Features -- */
[data-component="window"] {
    background-color: var(--bg-primary-colour);
    color: var(--body-colour);
    
    #feature-body {
        padding: 0.5rem;
    }
    #feature-header {
        color: var(--header-colour);
        font-weight: 700;
        padding: 0.5rem;
    }
}
[data-component="toast"] {
    display: flex;
    min-width: 20rem;
    width: 40dvw;

    align-items: center;
    color: var(--body-colour);
    font-size: var(--body-font-size);
}
[data-component="toast"].warn {
    background-color: rgba(150, 120, 40, 0.85);
    padding: var(--padding);
}
[component] {
    padding: var(--cell-padding);

    button {
        background-color: var(--bg-secondary-colour);
        border: 1px solid var(--bg-primary-colour);
        border-radius: calc(var(--padding)*0.5);
        color: var(--body-colour);
        font-family: var(--body-font-family);
        padding: calc(var(--padding)*0.5) calc(var(--padding)*1.5);
        transition: all 0.5s ease;
    }
    button:hover {
        background-color: var(--accent-primary-colour);
        cursor: pointer;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--body-colour);
        color: var(--body-colour);
        font-family: var(--body-font-family);
    }
    input:not([type]) {
        padding-bottom: 1.5px;
    }
    input[type="number"] {
        min-width: calc(var(--default-width)/4);
    }
    select {
        background-color: var(--bg-secondary-colour);
        border: 1px solid var(--bg-primary-colour);
        color: var(--body-colour);
        font-family: var(--body-font-family);
        margin-right: var(--padding);
        padding: calc(var(--padding)*0.25) calc(var(--padding)*0.5);
        transition: all 0.5s ease;
    }
    > ul {
        padding-inline-start: 0;
    }
    ul {
        padding-inline-start: 0.5rem;
    }
}

/* -- Components -- */
[component="ui-date"] {
    #day { width: 2rem; }
    #month { width: 5rem; }
    #year { width: 3rem; }
    
    #hour { margin-left: var(--padding); }
}

/* -- UI patterns -- */
#bottombar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: calc(var(--padding));
    width: 100dvw;
}
#topbar {
    position: fixed;
    top: calc(var(--navbar-height) + var(--padding));
    right: var(--padding);
    width: 20rem;
    
    [data-component="window"] { margin-bottom: var(--padding); }
}