/* -- Initialise functions -- */
.ministrat-map-image {
  position: absolute;
  top: 2dvh;
  left: 1dvh;

  height: 92dvh;
  width: 92dvh;

  opacity: 0.2;
}
#ministrat-map-overlay-canvases {
  position: absolute;

  > canvas {
    position: absolute;

    height: 94dvh;
    width: 92dvh;

    opacity: 0.2; /* -- Temporary: debug attribute -- */
  }
  > img {
    display: none;
  }

  > #ministrat-terrain-canvas {
    display: none;
    opacity: 0;
  }
}