/* -- Initialise functions -- */
.ministrat-map-image {
  position: absolute;
  top: 2vh;
  left: 1vh;

  height: 92vh;
  width: 92vh;

  opacity: 0.2;
}
#ministrat-map-overlay-canvases {
  position: absolute;

  > canvas {
    position: absolute;

    height: 94vh;
    width: 92vh;

    opacity: 0.2; /* -- Temporary: debug attribute -- */
  }
  > img {
    display: none;
  }

  > #ministrat-terrain-canvas {
    display: none;
    opacity: 0;
  }
}