/* -- Homepage top banner animations -- */
/* -- Caret blinking animation -- */
@keyframes homepage-top-banner-caret-blinking-animation {
  0% {
    background-color: rgb(255, 255, 255);
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    background-color: rgb(150, 245, 245);
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
@keyframes homepage-top-banner-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}

/* -- Homepage top banner footer animations -- */
@keyframes homepage-top-banner-btn-hop-up {
  0% {
    transform: translateY(100dvh);
  }
  50% {
    transform: translateY(-4dvh);
  }
  60% {
    transform: translateY(-3dvh);
  }
  80% {
    transform: translateY(2dvh);
  }
  100% {
    transform: translateY(0dvh);
  }
}
@keyframes homepage-top-banner-btn-hop-down {
  0% {
    transform: translateY(0dvh);
  }
  50% {
    transform: translateY(2dvh);
  }
  70% {
    transform: translateY(-3dvh);
  }
  80% {
    transform: translateY(-4dvh);
  }
  100% {
    transform: translateY(100dvh);
  }
}
@keyframes homepage-settings-btn-fade {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes homepage-settings-btn-roll {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(270deg);
  }
  90% {
    transform: rotate(380deg);
  }
  100% {
    transform: rotate(360deg);
    margin-left: 44vw;
    margin-top: 9dvh;
  }
}
@keyframes homepage-settings-btn-roll-back {
  0% {
    transform: rotate(360deg);
    margin-left: 44vw;
    margin-top: 9dvh;
  }
  70% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes homepage-chevron-down {
  0% {
    opacity: 0;
    transform: translateY(0dvh);
  }
  10% {
    opacity: 1;
    transform: translateY(0dvh);
  }
  50% {
    opacity: 0;
  }
  90% {
    transform: translateY(10dvh);
  }
  100% {
    transform: translateY(5dvh);
  }
}
