/* -- Tile Folding Animations -- */
[animation="analytical-engine"] {
  transform: translate(-28vh, 0vh);
}
[animation="ampersand-mod-creator"] {
  transform: translate(0vh, -16vh);
}
[animation="anno"] {
  transform: translate(-24vh, 0vh);
}
[animation="armoured-advance"] {
  transform: translate(4vh, -12vh);
}
[animation="art-triumph-and-tragedy"] {
  transform: translate(-12vh, 0vh);
}
[animation="boats-on-a-pond"] {
  transform: translate(0vh, -12vh);
}
[animation="branding-logos"] {
  transform: translate(0vh, -24vh);
}
[animation="brooklyn-bridge"] {
  transform: translate(0vh, -12vh);
}
[animation="confoederatio"] {
  transform: translate(0vh, -16vh);
}
[animation="confoederatio-website"] {
  transform: translate(0vh, -12vh);
}
[animation="digital-preserves-atlases"] {
  transform: translate(0vh, -18vh);
}
[animation="digital-preserves-maps"] {
  transform: translate(0vh, -18vh);
}
[animation="eoscala"] {
  transform: translate(-24vh, 0vh);
}
[animation="empires-undone"] {
  transform: translate(-24vh, 0vh);
}
[animation="geographic-economic-papers"] {
  transform: translate(0vh, -16vh);
}
[animation="gazetteer"] {
  transform: translate(0vh, -16vh);
}
[animation="icons"] {
  transform: translate(-16vh, 0vh);
}
[animation="into-modernity"] {
  transform: translate(0vh, -16vh);
}
[animation="landscape-and-cities"] {
  transform: translate(-28vh, -16vh);
}
[animation="last-man-standing"] {
  transform: translate(-16vh, 0vh);
}
[animation="les-halles"] {
  transform: translate(-8vh, -32vh);
}
[animation="london"] {
  transform: translate(-12vh, 0vh);
}
[animation="maps"] {
  transform: translate(0vh, -18vh);
}
[animation="military-papers"] {
  transform: translate(-16vh, 0vh);
}
[animation="naissance"] {
  transform: translate(0vh, -28vh);
}
[animation="physical-holdings-atlases"] {
  transform: translate(0vh, 18vh);
}
[animation="physical-holdings-other-documents"] {
  transform: translate(0vh, 12vh);
}
[animation="political-diplomatic-papers"] {
  transform: translate(-16vh, 0vh);
}
[animation="project-humanity"] {
  transform: translate(-18vh, 0vh);
}
[animation="proxy-cables"] {
  transform: translate(-16vh, 0vh);
}
[animation="scriptly"] {
  transform: translate(-16vh, -12vh);
}
[animation="system-dynamics"] {
  transform: translate(0vh, -12vh);
}
[animation="the-colorado"] {
  transform: translate(-12vh, 0vh);
}
[animation="triumph-and-tragedy-one"] {
  transform: translate(-28vh, -28vh);
}
[animation="triumph-and-tragedy-two"] {
  transform: translate(-32vh, -6vh);
}
[animation="universal-framework"] {
  transform: translate(-28vh, 0vh);
}
[animation="velkscala"] {
  transform: translate(0vh, -28vh);
}
[animation="yosemite"] {
  transform: translate(-12vh, 4vh);
}
[animation="eleven-fifty-nine-aoc-three"] {
  transform: translate(-18vh, 4vh);
}
[animation="eleven-fifty-nine-aoc-two"] {
  transform: translate(-20vh, 16vh);
}
